<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519499388667-ldrdv13i4kl1v3gr5hqlugujnc7r3ddt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519499388667-ldrdv13i4kl1v3gr5hqlugujnc7r3ddt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>519499388667-cdt30s5b6sep0vgfsjgbbmvt55edaa10.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJND-vHwJxAFkRfdfn1tyK8P-RqtiLu2g</string>
	<key>GCM_SENDER_ID</key>
	<string>519499388667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rideSharingApp</string>
	<key>PROJECT_ID</key>
	<string>ride-sharing-app-43223</string>
	<key>STORAGE_BUCKET</key>
	<string>ride-sharing-app-43223.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519499388667:ios:dfa92bc1e141af0966025e</string>
</dict>
</plist>